body {
	padding:0px;
	background: black;
	font-size:1.5em;
	font-family:helvetica;
	color: purple;
}

ul {
	list-style-type:none;	
}

li {	
	font-family:helvetica;
}

h1 {
	opacity:1;
	color:#333;
	font-family:courier;
	font-weight:1000;
}

b {
	font-size:1.1em;
	color:purple;
}

canvas {
	padding:0px 0px 0px 0px;
	background:black;
}

a {
	text-decoration:none;
	color:purple;
	opacity: 1;
	transition: color 2s, opacity 2s, font-size 1s, text-shadow 1s;
}

a:hover {
	opacity: 0.6; 
	color: white;
	background-size:100% 2px;
	text-shadow:0 2.5px 4px rgba(200,200,200,0.5);
}


.lign {
	text-align:center;
}

















